<h1>{{titulo}}</h1>

<div class="row">
	<div ng-repeat="comment in Comments| filter:filtro " class="col s5 m5">
		<div class="card red darken-4">
			<div class="card-content white-text">
				<span class="card-title">{{comment.titulo}} </span>
				<p>{{comment.descripcion}}</p>
			</div>
			<div class="card-action">
				<a href="#" ><i class="material-icons">edit</i></a>
				<a href="#" ng-click="removeComment(comment.id)"><i class="material-icons">delete</i></a>
			</div>
		</div>
	</div>
</div>
